---
layout: archive
---

My name is Henry Luengas.
I'm from Fort Worth, Texas and attended university at Cal Poly in San Luis Obispo, California.
My professional interests include graphics programming, systems engineering, and computer networking.
I am a big technology enthusiast and some of my hobbies include tinkering with computers and servers, data-hoarding, PC gaming, and going on adventures with my weenie dog Doppio.

<hr>
<img src="/assets/media/Headshots/IMG_20220519_183434_500.jpg" alt="doppio">

<hr>
<img src="/assets/media/Headshots/IMG_20220519_183233_089.jpg" alt="doppio">


{{ content }}

